#root {
  display: flex;
  flex-direction: column;
}

.header {
  border: 2px solid red
}
 .articles-container {
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

 .footer {
  border: 2px solid green;
 }

 .article-card {
  border: 2px solid yellow;
  max-width: 350px;
  margin: 1rem;
  padding: 1rem;
 }

 .card-img {
  max-width: 350px;
 }

 .article-view {
  border: 2px solid blue
 }

 .article-details {
  border: 2px solid yellow;
  display: flex;
 }

 .article-img {
  max-width: 90vw;
 }