body {
  background-color: #f5f5ff;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  width: 80%;
}

.header {
  background-color: white;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

 .sort-and-filter, .articles-container, .article-card, .header, .article-view, .comments-container {
  border: 1px solid #e5e5ff;
  background-color: white;
  border-radius: 0.5rem;
}
 .articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
 }

 .footer {
  border: 2px solid green;
 }

 .article-card {
  height: 400px;
  width: 287.5px;
  margin: 16px;
  padding: 16px;
 }

 .article-card:hover {
  box-shadow: 0 0 10px #e5e5ff;
 }

 .timestamp {
  font-size: small;
  margin: 0 0 8px;
 }
  .card-title {
    font-size: large;
    margin: 0 0 8px;
  }

  .card-author {
    font-size: small;
    margin: 0 0 8px;
  }

  .card-votes {
    font-size: small;
    margin: 0 0 8px;
  }

  .card-comments {
    font-size: small;
    margin: 0 0 8px;
  }

 .card-img {
  height: 200px;
  width: auto;
  max-width: 100%;
 }

 .article-view {
  margin: 1rem 0;
  padding: 1rem;
 }

 .article-details {
  background-color: #f5f5ff;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: small;
  height: 40px;
  margin-bottom: 1rem
 }

 .article-timestamp {
  margin-right: 8px;
 }

 .article-img {
  max-width: 100%;
 }

 .votes-container {
  align-items: center;
 }

 #upvote, #downvote {
  height: 50%;
 }

 .timestamp-and-author {
  display: flex;
  align-items: center;
 }

 .comments-container {
  padding: 1rem
 }

.comment-card {
  margin: 1rem 0;
  border-top: 1px solid #e5e5ff;
}

.timestamp-and-author {
  display: flex;
}

.votes-container {
  display: flex;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.filters {
  border: 2px solid chartreuse;
  width: 100%
}

.sort-and-filter {
  display: flex;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  margin: 1rem 0
}

.sort-by {
  display: flex;
  align-items: center;
}

.label-radio-container {
  margin: 0 1rem
}

@media (max-width: 610px) {
  #root {
    width: 100%;
  }
}
